@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
     
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.card-body{
    background-color: #EFEFEF;
}


.list-group{
    flex-flow: row wrap !important;
}

.list-group-item{
    border: none;
}
.asterisk{
    font-size: 9px;
    vertical-align: middle;
}
.note{
    font-size: 12px;
}